<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZK Easy Setup</title>
    <link rel="icon" type="image/x-icon" href="../public/images/zk-logo.png">
    <%- style %>
</head>
<body>
    <%- body %>
    <script src="/easysetup/public/js/main.js"></script>
    <%- script %>
</body>
</html>
